* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

.row1, .row9 {
    background-color: #2f2f2f;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.row9 {
    padding: 50px;
}

.row2 .col, .row5 .col {
    float: left;
    width: 50%;
}

.personal-picture {
    padding: 40px;
}

.clear {
    clear: both;
}

.row3, .row4, .row6, .row7, .row8 {
    background-color: rgb(228, 228, 228);
}

.row3 h3, .row4 h4, .row6 h3 {
    margin: 0;
}

.row3 h3, .row6 h3 {
    padding: 30px;
    text-align: center;
}

.row4, .row8 {
    padding-bottom: 40px;
}

.row4 .col {
    float: left;
    width: 22%;
    background-color: rgb(243, 241, 241);
    border: 1px solid rgb(228, 228, 228);
    margin-left: 20px;
    padding: 20px 0;
    text-align: center;
}

.row7 .col, .row8 .col {
    float: left;
    width: 30%;
    margin-left: 20px;
    text-align: center;
}

.row7 {
    padding-bottom: 20px;
}


.container1 {
    background-color: red;
}
.container2 {
    background-color: green;
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 576px) {
    .row2 .col {
        width: 100%;
    }
    .row4 .col {
        width: 42%;
        margin-bottom: 20px;
    }
    .row7 .col, .row8 .col {
        width: 90%;
        margin-bottom: 20px;
    }
}